{% extends 'Registered/base2.html' %}
{% load staticfiles %}
{% block title %}Listar empleados{% endblock %}
{% block javascript %}
  <!--script type="text/javascript" src="http://malsup.github.com/jquery.form.js"></script-->
  <script type="text/javascript" src="{% static 'Registered/js/jqueryform.js' %}"></script>
  <script type="text/javascript" src="{% static 'Registered/js/valid_form_ajax.js' %}"></script>
  <script type="text/javascript" src="{% static 'motorizado/js/listmoto.js' %}"></script>
{% endblock %}
{% block css %}
  <!--link rel="stylesheet" href="{% static 'usuario/css/empleado.css' %}"-->
{% endblock %}
{% block tool %}
<div class="row cajaIn caja">
  <div class="col s10 m11 l11 ">
     <input placeholder="Busqueda" id="search" type="text" class="validate">
  </div>
  <div class="col s1 m1 l1 ">
     <a href="{% url 'usuario:add_empleado' %}"class="btn-floating btn-large waves-effect waves-light #4db6ac addempleado"><i class="material-icons" id="addtrabajador">add</i></a>
  </div>
</div>
{% endblock %}
{% block contenido %}
<div class="row cajaIn caja">
  <div class="col s12 m12 l12" id="Tabla">
    <table class="highlight">
      <thead>
        <tr>
          <th>Empresa</th>
          <th>Ciudad</th>
          <th>Tienda</th>
          <th>Identificacion</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Placa</th>
          <th>Marca</th>
          <th>Numero Soat</th>
          <th>Opciones</th>

        </tr>
      </thead>
      <tbody id="tab_mot">

      </tbody>
    </table>
  </div>
</div>
{% endblock %}
{% block dialog %}
<div id="addmoto" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Registrar Trabajador</h4>
    <div id="contenido">

    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action waves-effect waves-green btn-flat savemoto">Guardar</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancelar</a>
  </div>
</div>
<div id="editmoto" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Editar Trabajador</h4>
    <div id="edit_contenido">

    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action waves-effect waves-green btn-flat edit_modal_moto">Modificar</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancelar</a>
  </div>
</div>
<div id="deletemoto" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Eliminar Trabajador</h4>
    <div id="cont_delete_mod">

    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action waves-effect waves-green btn-flat delete_save_moto">Si</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">No</a>
  </div>
</div>
{% endblock %}
