{% extends 'Registered/base.html' %}
{% load staticfiles %}
{% block title %}Empresas{% endblock %}
{% block javascript %}
  <!--script type="text/javascript" src="http://malsup.github.com/jquery.form.js"></script-->
  <script type="text/javascript" src="{% static 'Registered/js/jqueryform.js' %}"></script>
  <script type="text/javascript" src="{% static 'Registered/js/valid_form_ajax.js' %}"></script>
  <script type="text/javascript" src="{% static 'empresa/js/addempresa.js' %}"></script>
  <script type="text/javascript" src="{% static 'empresa/js/editempresa.js' %}"></script>
  <script type="text/javascript" src="{% static 'empresa/js/listempresa.js' %}"></script>
  <script type="text/javascript" src="{% static 'empresa/js/deleteempresa.js' %}"></script>
{% endblock %}
{% block css %}
  <!--link rel="stylesheet" href="{% static 'usuario/css/empleado.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'operacion/css/listar_labores.css' %}"-->
  <!--link rel="stylesheet" type="text/css" href="{% static 'empresa/css/empresa.css' %}"-->
{% endblock %}

{% block tool %}

<div class="row">
  <div class="col s10 m10 l11 ">
     <input placeholder="Busqueda por cualquier criterio" id="search" type="text" class="validate">
  </div>
  <div class="col s1 m1 l1 ">
     <a href="{% url 'empresa:add_empresa' %}" class="btn-floating btn-large waves-effect waves-light #4db6ac addempresa"><i class="material-icons" id="addtrabajador">add</i></a>
  </div>
</div>

{% endblock %}

{% block contenido %}
<div class="row cajaIn caja scrolbx scrolby tabla">
  <div class="col s12 m12 l12" id="Tabla">
    <table class="highlight centered">
      <thead>
        <tr>
          <th>Empresa</th>
          <th>Nit</th>
          <th>Ciudad</th>
          <th>N. Tiendas</th>
          <th>Telefonos</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody id="tab_empr">

      </tbody>
    </table>
  </div>
</div>
{% endblock %}
{% block dialog %}

<!--**********************************************Agregar Empresa****************************************************-->
<div id="addempresa" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Registrar Empresa</h4>
    <div id="contenido">

    </div>
  </div>
  <div class="modal-footer">
    <a href="{% url 'empresa:add_empresa' %}" class="modal-action waves-effect waves-green btn-flat saveempresa">Guardar</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancelar</a>
  </div>
</div>

<!--*************************************************Editar Empresa***************************************************-->
<div id="editempresa" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Editar Empresa</h4>
    <div id="edit_contenido">

    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action waves-effect waves-green btn-flat edit_modal_empresa">Modificar</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancelar</a>
  </div>
</div>

<!--**********************************************Eliminar Empresa*****************************************************-->
<div id="deleteempresa" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Eliminar Empresa</h4>
    <div id="cont_delete_mod">

    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action waves-effect waves-green btn-flat delete_save_empresa">Si</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">No</a>
  </div>
</div>

{% endblock %}