{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Reporte General</title>
  <style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover{background-color:#f5f5f5}
</style>

</head>
<body>
  <h1>Reporte de pago entre <span>{{ inicio }}</span> y <span>{{ fin }}</span></h1>
    {% if empleados %}
      <table>
        <thead>
          <tr>
            <th>Empresa</th>
            <th>Tienda</th>
            <th>Identificacion</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Horas</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          {% for o in empleados %}
            <tr>
              <td>{{ o.nom_empre }}</td>
              <td>{{ o.nom_tienda }}</td>
              <td>{{ o.identificacion }}</td>
              <td>{{ o.nom_emp }}</td>
              <td>{{ o.ape_emp }}</td>
              <td>{{ o.total_turnos }}</td>
              <td>{{ o.total_horas }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      No Existe la empleados para informe.
    {% endif %}
</body>
</html>
