{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Reporte General</title>
  <style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover{background-color:#f5f5f5}
</style>

</head>
<body>
  <h1>Reporte de pago entre <span>{{ inicio }}</span> y <span>{{ fin }}</span></h1>
    {% if info %}
    <h1>
      <ul>
        <li><label for="">Empresa : </label> <span>{{ info.empresa}}</span></li>
        <li><label for="">Tienda : </label> <span>{{ info.tienda}}</span></li>
        <li><label for="">Ciudad : </label> <span>{{ info.ciudad}}</span></li>
        <li><label for="">Identificacion : </label> <span>{{ info.identificacion}}</span></li>
        <li><label for="">Nombre : </label> <span>{{ info.nombre}} {{ info.apellidos }}</span></li>
        <li><label for="">Celular : </label> <span>{{ info.celular }}</span></li>
        <li><label for="">Direccion : </label> <span>{{ info.direccion}} </span></li>
      </ul>
    </h1>

    {% endif %}
    {% if empleados %}
      <table>
        <thead>
          <tr>
            <th>Inicio</th>
            <th>Fin</th>
            <th>Horas</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          {% for o in empleados %}
            <tr>
              <td>{{ o.ini }}</td>
              <td>{{ o.fin }}</td>
              <td>{{ o.horas }}</td>
              <td>{{ o.total_horas }}</td>
            </tr>
          {% endfor %}
          <tr>
            <td>  </td>
            <td>  </td>
            <td>TOTAL</td>
            <td>{{ total }}</td>
          </tr>
        </tbody>
      </table>
    {% else %}
      No Existe la empleados para informe.
    {% endif %}
</body>
</html>
