{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <script type="text/javascript" src="{% static 'Registered/js/jquery-2.1.1.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'Registered/css/materialize.min.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="{% static 'Registered/js/materialize.min.js' %}"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  <!--link href="{% static 'Registered/css/estilo.css' %}" rel="stylesheet">
  <link href="{% static 'Registered/css/home.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'usuario/css/listarempleado.css' %}"-->
  <link rel="stylesheet" href="{% static 'Registered/css/base2.css' %}">
  {% block javascript %}{% endblock %}
  {% block css %}{% endblock %}
  <script src="{% static 'Registered/js/scri.js' %}"></script>
  <meta charset="UTF-8">
  <title>{% block title%} {% endblock %}</title>
</head>
 <body>

   <header>
      <div class="row">
        <div class="col s6 m4 l2 offset-s1 offset-m1 offset-l1">
          <div class="row">
            <a href="{% url 'index' %}">
            <div class="col s3 m3 l3">
              <center><i class="material-icons" id="logeoT">phonelink_lock</i></center>
            </div>
            <div class="col s6 m6 l6">
              <center><p id="titulo">Registered</p></center>
            </div>
            </a>
          </div>
          </div>
          <div class="col s2 m4 l7 "></div>
          <div class="col s3 m2 l1">
            <center><a href="{% url 'usuario:logout' %}"><i class="material-icons" id="close">input</i></a></center>
          </div>
      </div>
    </header>

   <div class="container filtro">
     {% block tool %}

     {% endblock %}
   </div>

   <section>
     <div class="container">
       {% block contenido %}

       {% endblock %}
    </div>
  </section>
{% block dialog %}
{% endblock %}
 </body>
</html>
