
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="login.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
  <title>Login</title>
</head>
<body>
  <section>

    <div class="container">

      <div class="row">

        <div class="col s10 push-s1">

            <div class="row">

                 <div class="col m5 hide-on-small-only"> 
                   <img class="logo" src="logo_express.svg" alt="no encontrado recurso"/>
                 </div> 

              <div class="col s12 m7">
                <h1 class="title">Register</h1>

                <form action="" class="signup-form">
                  <h2>Iniciar session</h2>

                  <div class="section">
                    <!--a href="" class="btn btn-fb hide-on-small-only">Iniciar sesiòn</a>
                    <a href="" class="btn btn-fb hide-on-med-and-up">Iniciar sesiòn</a-->
                  </div>

                  <div class="divider"></div>

                  <div class="section">
                    <input type="text" placeholder="Usuario">
                    <input type="password" name="password" placeholder="Contraseña">
                    <button class="btn btn-fb hide-on-small-only" type="submit">Iniciar sesiòn con facebook</a>
                    <button class="btn btn-fb hide-on-med-and-up" type="submit">Iniciar sesiòn</a>
                  </div>

                </form>
              </div>

              <div></div>
            </div>
        </div>
      </div>
     </div>
  </section>
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col s12 l3 push-l8 center-align">
          Express del Norte
        </div>
      </div>
    </div>

  </footer>
</body>
</html>
