<!DOCTYPE html>
<html lang="en">
<head>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="scri.js"></script>
	<meta charset="UTF-8">
	<title>login</title>
</head>
<body>
	<a class="waves-effect waves-light btn" href="#modal1">Modal</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
      <form action="" class="signup-form">
                  <h2>Iniciar session</h2>

                  <div class="section">
                    <!--a href="" class="btn btn-fb hide-on-small-only">Iniciar sesiòn</a>
                    <a href="" class="btn btn-fb hide-on-med-and-up">Iniciar sesiòn</a-->
                  </div>

                  <div class="divider"></div>

                  <div class="section">
                    <input type="text" placeholder="Usuario">
                    <input type="password" name="password" placeholder="Contraseña">
                    <button class="btn btn-fb hide-on-small-only" type="submit">Iniciar sesiòn con facebook</a>
                    <button class="btn btn-fb hide-on-med-and-up" type="submit">Iniciar sesiòn</a>
                  </div>

                </form>
    </div>
    <div class="modal-footer">
      <a href="#modal1" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
</body>
</html>
