<!DOCTYPE html>
<html lang="en">
<head>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="scri.js"></script>
  <link rel="stylesheet" href="estilo.css">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>

	<div class="row">
		<div class="col s12" id="header">
			<a href=""><i class="material-icons" id="house">home</i></a>
		</div>
	</div>

	<div class="row">
		<div class="col s1"></div>
		<div class="col s10" id="main">
			<table class="highlight responsive-table">
		        <thead>
		          <tr>
		              <th>Empresa</th>
		              <th>Ciudad</th>
		              <th>Tienda</th>
		              <th>Nombre Trabajador</th>
		              <th>Hora Entrada</th>
		              <th>opciones</th>
		          </tr>
		        </thead>

		        <tbody>
		          <tr>
		            <td>Alvin</td>
		            <td>Eclair</td>
		            <td>$0.87</td>
		            <td>Alvin</td>
		            <td>Eclair</td>
		            <td>$0.87</td>
		          </tr>
		          <tr>
		            <td>Alan</td>
		            <td>Jellybean</td>
		            <td>$3.76</td>
		            <td>Alvin</td>
		            <td>Eclair</td>
		            <td>$0.87</td>
		          </tr>
		          <tr>
		            <td>Jonathan</td>
		            <td>Lollipop</td>
		            <td>$7.00</td>
		            <td>Alvin</td>
		            <td>Eclair</td>
		            <td>$0.87</td>
		          </tr>
		          <tr>
		            <td>Jonathan</td>
		            <td>Lollipop</td>
		            <td>$7.00</td>
		            <td>Alvin</td>
		            <td>Eclair</td>
		            <td>$0.87</td>
		          </tr>
		          <tr>
		            <td>Jonathan</td>
		            <td>Lollipop</td>
		            <td>$7.00</td>
		            <td>Alvin</td>
		            <td>Eclair</td>
		            <td>$0.87</td>
		          </tr>
		          <tr>
		            <td>Jonathan</td>
		            <td>Lollipop</td>
		            <td>$7.00</td>
		            <td>Alvin</td>
		            <td>Eclair</td>
		            <td>$0.87</td>
		          </tr>
		        </tbody>
            </table>
		</div>
		<div class="col s1" id="add">
			  <a class="btn-floating btn-large waves-effect waves-light orange darken-3 " href="#modal1"><i class="material-icons ">add</i></a>
		</div>
	</div>
	<div class="row">
		<div class="col s12" id="menu">
			<ul class="pagination">
			    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
			    <li class="active"><a href="#!">1</a></li>
			    <li class="waves-effect"><a href="#!">2</a></li>
			    <li class="waves-effect"><a href="#!">3</a></li>
			    <li class="waves-effect"><a href="#!">4</a></li>
			    <li class="waves-effect"><a href="#!">5</a></li>
			    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
			</ul>
		</div>
	</div>

<div id="modal1" class="modal">
    <div class="modal-content">
      <form action="" class="signup-form">
	        <center><h2>Iniciar Sesión</h2></center>
	      	<div>
		      <div class="section col s4">
		        <input type="text" placeholder="Usuario">
		        <input type="password" name="password" placeholder="Contraseña">
		        <center><button class="btn btn-fb " type="submit">Iniciar sesión</a></center>
		      </div>
			</div>
       </form>
    </div>
  </div>

</body>
</html>
